version: '3.8'
services:
postgres:
image: postgres:13
environment:
POSTGRES_USER: medlab
POSTGRES_PASSWORD: medlabpass
POSTGRES_DB: medlab
volumes:
- pgdata:/var/lib/postgresql/data
networks:
- mednet


minio:
image: minio/minio:RELEASE.2025-01-01
command: server /data --console-address ":9001"
environment:
MINIO_ROOT_USER: minioadmin
MINIO_ROOT_PASSWORD: minioadmin
ports:
- "9000:9000"
- "9001:9001"
networks:
- mednet


mlflow:
image: mlfloworg/mlflow:1.35.0
environment:
MLFLOW_TRACKING_URI: http://mlflow:5000
ports:
- "5000:5000"
networks:
- mednet


keycloak:
image: quay.io/keycloak/keycloak:22.0.1
command: start-dev
environment:
KEYCLOAK_ADMIN: admin
KEYCLOAK_ADMIN_PASSWORD: admin
ports:
- "8080:8080"
networks:
- mednet


backend:
build: ../backend
depends_on: [postgres, minio, mlflow, keycloak]
ports:
- "8000:8000"
environment:
DATABASE_URL: postgres://medlab:medlabpass@postgres:5432/medlab
MLFLOW_TRACKING_URI: http://mlflow:5000
MINIO_ENDPOINT: minio:9000
KEYCLOAK_URL: http://keycloak:8080
networks:
- mednet


volumes:
pgdata:


networks:
mednet:
driver: bridge
